
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @ViewBag.Greeting, zapraszamy do kontaktu z nami.
        @Html.ActionLink("Wyslij zapytanie", "ContactForm")
    </div>
</body>
</html>
